* {
    color: #767676;
}

#top-section {
    margin: 20px 0px;
}

#top-section .in-spotlight {
    margin: 0 auto;
    text-align: center;
}

#top-section h2 {
    margin: 10px;
}

#top-section p {
    min-height: 190px;
}

#top-section img {
    border-radius: 50%;
}

main h2 span {
    color: black;
}

main .row {
    padding: 20px 0px;
    display: table;
    border-bottom: 1px silver solid;
}

main .main-text {
    vertical-align: middle;
    display: table-cell;
}
footer ul {
    text-decoration: none;
    width: 100%;
}

footer ul li {
    display: inline-block;
}

li.back-to-top {
    float: right;
}